.sub-router-container {
  position: relative;
  .sub-router {
    margin: 28px 9px 28px 0px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 26px;
    border-radius: 5px;
    font-size: 17px;
    letter-spacing: -0.06em;
    color: black;
  }
  .is-active{
    background: linear-gradient(112.53deg, #8FA2FF -7.6%, #2447F9 136%);
    box-shadow: 0px 2px 3.6px rgba(0, 0, 0, 0.05);
    color: white;
  }
}