:root {
  --primary-color: #2447f9;
  --primary-color-100: #a8b6fe;
  --primary-color-200: #8fa2ff;
  --primary-color-300: #7a90fe;
  --primary-color-500: #4e6afb;
  --secondary-color: #bdbdbd;
  --secondary-color-100: #f0f0f1;

  --background-color-primary: #fefefe;
  --background-color-light: rgba(255, 255, 255, 0.95);
  ;
  --text-color: #000;
  --text-color-secondary: #6e6e6e;

  --success-color: #39a137;
  --danger-color: #db0000;
  --info-color: #adadad;
  font-size: 15px;
  font-family: 'Source Han Sans SC';
  font-style: normal;
  font-weight: 400;
  --content-safe-padding-x: 50px;
  --content-safe-padding-y: 35px;
  --form-item-linear-gradient:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(to left, var(--primary-color) 0%, var(--primary-color-300) 100%) border-box;
  --content-min-width: 870px;
  --data-card-width: 200px;
  --data-card-padding: 22px;
  --data-card-gap: 15px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color-primary);
}

#app {
  height: 100vh;
  width: 100vw;
}

/* 按钮默认样式 */
button {
  border: none;
  border-radius: 1000px;
  padding: 0.4rem 2rem;
  background: linear-gradient(to right, #8fa2ff, var(--primary-color));
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  color: white;
}

/* 内容路由页面的头部标题样式 */
.content-header {
  width: 100%;
  height: fit-content;
  color: var(--text-color);
  font-weight: 500;
  font-size: 22px;
  line-height: 2rem;
  letter-spacing: -0.06em;
}

/* 白色卡片区域样式 */
.card-area {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  border-radius: 8px;
}